@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300&family=Pacifico&display=swap');
h1{
    text-align: center;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
    font-family: 'Open Sans';
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
nav{
    background: #2fcdcd;
    height: 80px;
    width: 100%;
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}



.logo {
    font-family: 'Great Vibes';
    color: white;
    background: black;
    width: 3.5rem;
	height: 3.5rem;
    border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  margin:0px auto;
  padding:3%
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active, li a:hover{
    background: rgb(83, 134, 155);
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 800px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .column{
        flex: 50%;
    }
}

@media (max-width: 600px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .column{
        flex: 100%;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0%;
    }
}


img {
    width: 100%;
    }
.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    padding: 5px;
}

.column img{
    margin-top: 5px;
}
.form_box{
	display: flex;
	justify-content: space-between;
	background-color: #2fcdcd;
	color: #fff;
	margin: 0 30px;
/*	border-radius: 30px;*/
	padding: 30px;
}
.form_box .containerForm {
	width: 40%;
}

.form_box   p{
	font-size: 1.5rem;
}

.form_box .form{
	width: 50%;
	border-radius: 20px;
}

.form_box  .form .elementForm{
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

.form_box  .form .elementForm p{
	visibility: hidden;
	color: red;
}

.form_box  .form .elementForm .buttonForm button{
	display: block;
	margin: 0 auto;
}

.error{
	border: 3px solid red;
}
/*
p,
h1 {
    max-width: 90%;
    margin: 10px;
}

.logo_main{
    height: 200px;
    padding: 20px;
}

.logo_logo{
    height: 30px;
    display: inline-block;
    padding: 4px;
    margin-right: 50px;
    cursor: pointer;
}

.nav{
    float: left;
    width: 100%;
    padding-inline-end: 20px;
    transition: .3s ease all;
    backface-visibility: hidden;
    transform: translate(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.nav .wrap{
position: relative;
/*left: -150px;
transition: 0.4s ease all;

}

nav{
    display: inline-block;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav li{
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav a{
    display: block;
    padding: 20px;
    margin: 0;
    text-decoration: none;
    transition: 0.2s ease all;
}

nav a:hover{
    background: rgb(85, 205, 221);
    color: white;
}

.main{
    background: white;
    padding: 80px 60px;

}

body.nav_fixed .nav{
    position: fixed;
    top: 0;
}

body.nav_fixed .nav .wrap{
    left: 0;


}

main{
    background-color: rgb(255, 255, 255);
}
.nmenu{
    background-color: darkslateblue;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}
#nav
{
padding:0;
}

.icono_menu{
    width: 30px;
    height: 30px;
}
#nav li
{
display:inline;
}

#nav li a
{
font-family:Arial;
font-size:12px;
text-decoration: none;
float:left;
padding:10px;
background-color: #333333;
color:#ffffff;
border-bottom:1px;
border-bottom-color:#000000;
border-bottom-style:solid;
}

#nav li a:hover
{
background-color:#9B1C26;
padding-bottom:12px;
border-bottom:2px;
border-bottom-color:#000000;
border-bottom-style:solid;
margin:-1px;
}*/